@page "/contracttypes/"
@inherits IndexBase
@attribute [Authorize]
<h3 class="card-title">Index</h3>
<hr />
<br />
@if (Model == null)
{
    <LoadingMessage Message="Chargement des types de contrat" />
}
else
{
<AuthorizeView Roles="Administrator">
    <a href="/contracttypes/create" class="btn btn-primary">
        <span class="oi oi-plus"></span>
        Créer un type de contrat
    </a>
    <hr />
    <br />
</AuthorizeView>
    @if (Model.Count < 1)
    {
        <LoadingMessage Message="Il n'y a aucun type de contrat, cliquez sur 'Créer un auteur' pour commencer" />
    }
    else
    {
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Libellé</th>
                   <th>Opération</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var type in Model)
                {
                    <tr>
                        <td>@type.ContractTypeName</td>
                  
                        <td>

                            <AuthorizeView Roles="Administrator">
                                <a href="/contracttypes/edit/@type.ContractTypeId" class="btn btn-warning">
                                    <span class="oi oi-pencil"></span>
                                </a>
                                <a href="/contracttypes/delete/@type.ContractTypeId " class="btn btn-danger">
                                    <span class="oi oi-delete"></span>
                                </a>
                            </AuthorizeView>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}