@page "/"

@inherits IndexBase


<h1>Ils nous font confiance!</h1>

Statistiques en chartes
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>



@*<div id="chartdiv"></div>
    <button class="btn btn-primary" @onclick="GenerateBarChart">Generate</button>*@


<button class="nav-link">
    <span class="oi oi-plus" aria-hidden="true"></span>  <Link To="/counter" > Counter </Link>
</button>
@code{


}

    //private void GenerateBarChart()
    //{
    //    JS.InvokeVoidAsync("GenerateBarChart");
    //}
}

https://blazorise.com/docs/extensions/autocomplete/
https://v4.bootcss.com/