@page "/"

@inherits IndexBase


<h1>Ils nous font confiance!</h1>

Statistiques en chartes
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>

@*<div id="chartdiv"></div>
<button class="btn btn-primary" @onclick="GenerateBarChart">Generate</button>*@

<Chart Config="_config"></Chart>

@code{


    }

    //private void GenerateBarChart()
    //{
    //    JS.InvokeVoidAsync("GenerateBarChart");
    //}
}

https://blazorise.com/docs/extensions/autocomplete/
https://v4.bootcss.com/