@page "/"




<h1>Ils nous font confiance!</h1>

Statistiques en graphique
<Row>
    <Column ColumnSize="ColumnSize.IsHalf.OnWidescreen">
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Nombre d'artistes inscrits en temps réel</CardTitle>
            </CardHeader>
            <CardBody>
                <LineChart @ref="horizontalLineChart" TItem="LiveDataPoint" OptionsObject="@horizontalLineChartOptions">
                    <ChartStreaming TItem="LiveDataPoint"
                                    Options="new ChartStreamingOptions { Delay = 2000 }"
                                    Refreshed="@OnHorizontalLineRefreshed" />
                </LineChart>
            </CardBody>

        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.IsHalf.OnWidescreen">
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Nombre d'offres lises à jours</CardTitle>
            </CardHeader>
            <CardBody>
                <LineChart @ref="verticalLineChart" TItem="LiveDataPoint" OptionsObject="@verticalLineChartOptions">
                    <ChartStreaming TItem="LiveDataPoint"
                                    Vertical="true"
                                    Options="new ChartStreamingOptions { Delay = 2000 }"
                                    Refreshed="@OnVerticalLineRefreshed" />
                </LineChart>
            </CardBody>
 
        </Card>
    </Column>
</Row>


