@page "/artists/create/"
@inherits CreateBase
@using MegaSolution.Electron.Models

<h3>Créer profil d'artist</h3>
<hr />
<br />
@if (!isSuccess)
{
    <ErrorMessage Message="Une erreur s'est produite lors de l'opération" />
}

<EditForm Model="Model" OnValidSubmit="HandleCreate">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="firstName">Prénom</label>
        <InputText @bind-Value="Model.FirstName" class="form-control" id="firstName" />
    </div>
    <div class="form-group">
        <label for="lastName">Nom</label>
        <InputText @bind-Value="Model.LastName" class="form-control" id="lastName" />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <InputText @bind-Value="Model.Email" class="form-control" id="email" />
    </div>
    <div class="form-group">
        <label for="emailConfirm">Confirmation Email</label>
        <InputText @bind-Value="Model.EmailConfirm" class="form-control" id="emailConfirm" />
    </div>
    <div class="form-group">
        <label for="gender">Genre</label>
        <InputSelect @bind-Value="Model.Gender" class="form-control" id="gender">
            <option value="">-- Select genre --</option>

            @foreach (var gender in Enum.GetValues(typeof(Gender)))
            {
                <option value="@gender">@gender</option>
            }

        </InputSelect>
    </div>
    <div class="form-group">
        <label for="birthday">Date de naissance</label>
        <InputDate @bind-Value="Model.BirthDate" class="form-control" id="birthday" />
    </div>
    <div class="form-group">
        <label for="artistName">Pseudo</label>
        <InputTextArea @bind-Value="Model.ArtistName" class="form-control" id="artistName" />
    </div>
    <div class="form-group">
        <label for="address">Adresse</label>
        <InputTextArea @bind-Value="Model.Address" class="form-control" id="address" />
    </div>
    <div class="form-group">
        <label for="phone">Télépohone</label>
        <InputTextArea @bind-Value="Model.Phone" class="form-control" id="phone" />
    </div>
    <div class="form-group">
        <label for="photo">Photo profil</label>
        <InputFile OnChange="HandleFileSelection" />
        @if (isInvalidFileType)
        {
            <ErrorMessage Message="Veuillez supprimer le type de fichier non valide et sélectionner comme nouvelle image, ou laissez ce champ vide" />
        }
        @if (!string.IsNullOrWhiteSpace(imageDataURL))
        {
            <img src="@imageDataURL" style="height:100px;width:100px" />
        }
    </div>
    <div class="form-group">
        <label for="cv">CV</label>
        <InputTextArea @bind-Value="Model.CV" class="form-control" id="cv" />
    </div>



    <button class="btn btn-primary" type="submit">
        <span class="oi oi-pencil"></span>
        Créer artiste
    </button>
    <button @onclick="BackToList" class="btn btn-outline-secondary">
        <span class="oi oi-media-skip-backward"></span>
        Revenir sur la liste
    </button>
</EditForm>