@page "/professions/create/"
@attribute [Authorize(Roles = "Administrator")]
@inherits CreateBase

<h3 class="card-title">Créer profession</h3>
<hr />
<br />
@if (!isSuccess)
{
    <ErrorMessage Message="Une erreur s'est produite lors de l'opération" />
}


<EditForm Model="Model" OnValidSubmit="CreateProfession">
    <DataAnnotationsValidator />
    <Blazorise.ValidationSummary />
    <div class="form-group">
        <label for="name">Libellé</label>
        <InputText @bind-Value="Model.ProfessionName" class="form-control" id="name" />
    </div>
    <div class="form-group">
        <label for="type">Secteur de profession</label>
        <select @bind="Model.ProfessionSectorId" class="form-control" id="type">
            <option value="">-- Selectionner secteur --</option>
            @if (ProfessionSectors != null)
            {
                foreach (var sector in ProfessionSectors)
                {
                    <option value="@sector.ProfessionSectorId">@sector.SectorName</option>
                }
            }
        </select>
    </div>

    <button class="btn btn-primary" type="submit">
        <span class="oi oi-pencil"></span>
        Créer profession
    </button>
    <button @onclick="BackToList" class="btn btn-outline-secondary">
        <span class="oi oi-media-skip-backward"></span>
        Revenir sur la lite
    </button>
</EditForm>