@page "/professions/view/{Id}"
@inherits ViewBase

<h3>Afficher les détails de la profession</h3>
<hr />
<br />
@if (int.Parse(Id) < 1 || string.IsNullOrWhiteSpace(Id))
{
    <ErrorMessage Message="Selection invalide. Veuillez réessayer" />
}
else if (Model == null)
{
    <LoadingMessage Message="Chargement des détails de la profession" />
}
else
{
    _toastService.ShowInfo($"Vous êtes sur la profession {Model.ProfessionName}", "");

    <div class="col-md-4">

        <table class="table table-responsive">
            <tr>
                <td>
                    <strong>Id</strong>
                </td>
                <td>@Model.ProfessionId</td>
            </tr>
            <tr>
                <td>
                    <strong>Libellé</strong>
                </td>
                <td>
                    @Model.ProfessionName
                </td>
            </tr>
          
        </table>
        <br />
        @if (Model.Offers == null || Model.Offers.Count < 1)
        {
            <div class="alert alert-dismissible alert-secondary">
                Aucune offre est liée à cette profession
            </div>
        }
        else
        {
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h4>Offre</h4>
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var offer in Model.Offers)
                    {
                        <li class="list-group-item">@offer.OfferReference - @offer.Location -@offer.OfferDescription </li>
                    }
                </ul>
            </div>
        }
    </div>


}

<button @onclick="GoToEdit" class="btn btn-outline-warning">
    <span class="oi oi-pencil"></span>
    Modifier profession
</button>
<button @onclick="GoToDelete" class="btn btn-outline-danger">
    <span class="oi oi-circle-x"></span>
    Supprimer profession
</button>
<button @onclick="BackToList" class="btn btn-outline-secondary">
    <span class="oi oi-media-skip-backward"></span>
    Revenir sur la liste
</button>
